# Dependencies
node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
dist-ssr/
*.local
build/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/src/main/assets/public/

# Large binaries & APKs
*.apk
*.aab
*.keystore
*.jks
EthiopianTextbooks-*.apk
*.pdf
public/textbooks/**/*.pdf
public/teacher-guide/**/*.pdf

# Logs & Environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
